#profil{color: #26272B;margin:50px 5%}
#Profil-Intro{display: flex;
justify-content: center}

    .det-profil{margin-left: 1%;width:90%; height: 300px;background:rgb(243, 242, 242) ;padding: 11px 20px}
    #bio{
        width: 50%;
        display: flex;
        margin: 2% 0;
    }
    #act-para{display: flex;
        justify-content: space-around}
        .sec-part{display: flex;
            justify-content: space-around}
            .sec-part-1{display: flex;flex-flow: column;background:rgb(230, 227, 227);margin-left: 1%;margin-top: 1%;width: 90%; height:100% ;padding: 11px 20px}

            .sec-part-1>span{margin-left: 1%;margin-top: 1%;width: 90%; height:100% ;padding: 11px 20px}
            .image-profil{border: 3px rgba(0, 0, 0, 0.425) solid;
            background: #26272B;
        text-align: center}
            #profil-img{width: 300px; height: 300px;padding: 5px}
            .activitee{color: white;}
            .activitee>ul>li{margin-left:-15%;text-align: justify;padding:0 0 0 40%}
            #Order{color: rgb(255, 255, 255);background: #26272B;width: 25%;height: 35px;border: none;margin:0.5% 0 0 2%}
            #Edit{color: rgb(255, 255, 255);background: #26272B;width: 25%;height: 35px;border: none;margin:0.5% 0 0 42%}
